$textColor: white;
$selectedColor: darkorange;
$qualitySelectionContainerBackgroundColor: rgb(145, 70, 255);
$transitionTime: 0.5s;
$backgroundColor: #292929;

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
        opacity: 0
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    100% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px);
        opacity: 0
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0)
    }
}

@keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0)
    }
}


@mixin quality-selection {
    padding: 5px;
    min-width: 100px;
    text-align: center;
    color: $textColor;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

body {
    margin: 0;
    font-family: 'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgroundColor;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    overflow: auto;
}

.flexitemscategories {
    transform: scale(0);
    width: 285px;
    height: 100%;
    padding: 10px;
    transition: $transitionTime;

    &.scale-in-center {
        -webkit-animation: slit-in-vertical 0.5s forwards;
        animation: slit-in-vertical 0.5s forwards;
    }

    text-decoration: none;
    color: $textColor;
}

.flexitemsstreams {
    transform: scale(0);
    width: 448px;
    height: 100%;
    padding: 10px;
    transition: $transitionTime;

    &.scale-in-center {
        -webkit-animation: slit-in-vertical 0.5s forwards;
        animation: slit-in-vertical 0.5s forwards;
    }

    text-decoration: none;
    color: $textColor;
}

.flexitemtitle {
    margin-block-start: 0em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    background-color: $selectedColor;
}

.streamertitle {
    float: right;
    margin: 0px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px 10px;
    background-color: $qualitySelectionContainerBackgroundColor;
}

.viewercount {
    float: left;
    margin: 0px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px 10px;
    background-color: $qualitySelectionContainerBackgroundColor;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.playercontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.errorcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sadface {
    font-size: 8em;
}

.errortitle {
    font-size: 2em;
    padding: 1em;
}

.quality-selection-menu-container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    background: $qualitySelectionContainerBackgroundColor;

    &.slide-in {
        -webkit-animation: slide-in-top 0.5s forwards;
        animation: slide-in-top 0.5s forwards;
    }

    &.slide-out {
        -webkit-animation: slide-out-top 0.5s forwards;
        animation: slide-out-top 0.5s forwards;
    }
}

.key {
    background-color: rgba(238, 238, 238, 0.2);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.quality-selection-item {
    @include quality-selection;
}

.quality-selection-item-selected {
    @include quality-selection;
    background-color: $selectedColor;
    transition: $transitionTime;
}