.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    margin: 20px;
}

.flexitemscategories {
    width: 285px;
    margin: 10px;
}

.flexitemtitle {
    margin-block-start: 0em;
}

.flexitemlink {
    text-decoration: none;
    color: white;
}

.selected {
    background-color:darkorange;
}